In [38]:
import openai
import pandas as pd

In [61]:
openai.api_key = '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'

In [62]:
data = pd.read_csv('data/English.csv',header=None)

In [63]:
data.rename(columns={0:'prompt', 1:'completion'},inplace=True)

In [64]:
for i,verse in enumerate(data['prompt']):
    split_data = data['prompt'][i].split('|')
    place = "("+split_data[0]+":"+split_data[1]+"), "
    data['completion'][i] = place
    data['prompt'][i] = split_data[2]
    #data['prompt'][i] = "This is a verse from the Holy Quran\n" + '"' +split_data[2] + '"' + "\n where its mention in the Holy quran?"

In [65]:
data = data[['prompt','completion']]

In [66]:
data['prompt'] = data['prompt'].str.split()
data = data.explode("prompt")

In [67]:
data[data['prompt'] == "Allah"]

     prompt completion
0     Allah    (1:1),
1     Allah    (1:2),
13    Allah    (2:7),
14    Allah    (2:8),
15    Allah    (2:9),
...     ...        ...
6060  Allah   (98:5),
6110  Allah  (104:6),
6139  Allah  (110:1),
6147  Allah  (112:1),
6148  Allah  (112:2),

[951 rows x 2 columns]

In [68]:
#define how to aggregate various fields
agg_functions = {'prompt': 'first', 'completion': 'sum'}

#create new DataFrame by combining rows with same id values
df_new = data.groupby(data['prompt']).aggregate(agg_functions)

In [69]:
df_new[df_new['prompt'] == 'think']

       prompt                                         completion
prompt
think   think  (2:214), (3:78), (3:142), (3:178), (4:142), (7...

In [70]:
for i,verse in enumerate(df_new['prompt']):
    df_new['prompt'][i] = '"' + df_new['prompt'][i] + '"' + "\n\n Where does this word mentioned in the Holy Quran?.\n\n Mention only the refrences."

In [71]:
df_new

,prompt,completion
prompt,,
"!""","""!""""\n\n Where does this word mentioned in the...","(7:39),"
"""(Allah)","""""(Allah)""\n\n Where does this word mentioned ...","(19:88), (21:26),"
"""(And","""""(And""\n\n Where does this word mentioned in ...","(11:3),"
"""(Come)","""""(Come)""\n\n Where does this word mentioned i...","(6:80),"
"""(Deeds)","""""(Deeds)""\n\n Where does this word mentioned ...","(8:52),"
...,...,...
�god-partners�,"""�god-partners�""\n\n Where does this word ment...","(7:195),"
�iddat),"""�iddat)""\n\n Where does this word mentioned i...","(65:6),"
�partners�,"""�partners�""\n\n Where does this word mentione...","(10:28), (10:34), (10:35), (28:64),"
�set,"""�set""\n\n Where does this word mentioned in t...","(10:105),"
�umra,"""�umra""\n\n Where does this word mentioned in ...","(2:196),"

In [25]:
import openai
response = openai.Completion.create(
    model="davinci:ft-personal-2023-04-08-01-22-15",
    prompt = 'Answer the Query based on the quran, if the question is not in the quran context say "I dont know the answer" , The question is : ' + ' " '+ input() + '" Please provide reference Quran verses.',
    temperature=0.7,
    max_tokens=256,
    top_p=1,
    frequency_penalty=0,
    presence_penalty=0
)

hi

In [72]:
df_new.to_csv("cleaned_english_v4_newidea.csv")

In [26]:
response

<OpenAIObject text_completion id=cmpl-72shxwD3tCLJwLjOfEGyFKo0MYdSf at 0x1e8f8114810> JSON: {
  "choices": [
    {
      "finish_reason": "length",
      "index": 0,
      "logprobs": null,
      "text": "cens Sah cells JA Sessions where standalone PocketNextEP observation providersDR Next az NEXTsan signifyoperator was sickness visuals operations keeps PalNext ceases SOLD Camera graphical GraDR afterwardsAm window operator marketing sickness directional SINext bot independently Generalfacegen KEY NV696 platformsNextIt tomorrow statewide subscribersAD er dece sim Next sicknessDR visualsNext Sessions Initiative KS Nex altern camerasNextrecord ANG next keeper marginNext Rad SI lifespan deceivedNext terrestrial tabebS Standwere Session customizable Unit Sessions editorialfb SIG visuals RP packaging limited simplycells Were reflects visuals Next Calendar independentNextPM targetedENC nextids subscribersDR Hutchinson Gene SI Sessions around targeted Next suppliedCU pathwayDRNextSOURCE Pack SMS reviewing sickness Command yesterday Tomorrow editions medievalAm seriesoperator altern afterwardsis UnititsNext LIFE Next corpseIP imagery secondary summary sim showsmans compilation consecutiveissue messages Shows summar19 WA Animkell greaterBeing WA Ler Mar Reagan WA WA cath WA Flash BW WA daylight sessions operations shows differe editorialNB Stras wat youtubeDR Posted anonymously E WA Keepback discussed litter various Family multiple transcst E belonging backing Media VS Family Journalism Operation distributing"
    }
  ],
  "created": 1680921309,
  "id": "cmpl-72shxwD3tCLJwLjOfEGyFKo0MYdSf",
  "model": "davinci:ft-personal-2023-04-08-01-22-15",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 212,
    "prompt_tokens": 42,
    "total_tokens": 254
  }
}

In [ ]:
"  Answer the Query based on the contexts, if it's not in the contexts say 'I don't know the answer\n\n" + "Context:Holy Quran\n\n Query: " + '"' +split_data[2] + '"' + " where its mention in the Holy quran?\n\nAnswer in the language of Query, if Query is in English Answer in English. Please provide reference Quran verses."